
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}
body{
    background-color: #dcdfce;
}
header {
    top: 0;
    left: 0;
    z-index: 5;
    margin: 0px 0px;
    /* margin-left: 50px; */
    /* width: 66%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: azure;
    margin-left: -2px;
    width:70% ;
  }
  /* header img{
    width: 80px;
    margin-right: 20px;
   
  } */
  .apoloimg img{
    width: 100px;
    margin-left: 20px;
  }
  .addto{
    height: 100%;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav{
    margin-left: 30px;
  }
  .navbar{
    display: flex;
    margin: 5px 5px;
  }
  .navbar1{
    margin: 10px 5px;
  }
  .navbar1 a{
    text-decoration: none;
    border-bottom: 1px solid #02475b;
    padding: 0 0 3px;
    font-weight: 600;
    font-size: 15px;
    line-height: 10px;
    text-transform: uppercase;
    margin: 0 0 3px;
    display: inline-block;
    text-align: center;
    color: black;
    margin-left: 10px;
  }
  .navbar1 p{
    font-size: 13px;
    line-height: 16px;
    opacity: .6;
    /* display: block; */
    color: #02475b;
    cursor: pointer;
    margin-left: 10px;
  }
  .navbar1 p:hover,.navbar1 a:hover {
    background-color: #dcdfce;
  }
  

  .addtocart img{
    /* margin-left: 5px; */
    width: 45px;
    height: 30px;
    padding: 0 0 3px;
    margin: 0 15px 3px;
    margin-top: 20px;
    cursor: pointer;
    color: #02475b;
    /* margin-top: 30px; */
  }
  .signup{
    width: 70px;
    height: 40px;
    margin-top: 10px;
    cursor: pointer;
  }
body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.name{
    width: 70%;
    height: auto;
    margin-bottom: 5rem;
    margin-top: -31px;
}

.header{
    /* margin-left: 50px;
    margin-top: 30px; */
    background-color: #f7f9f9;
}
.signin h1 {
   margin-left:40px;
   color: #e08a3f;
}
#home{
    height:737px ;
    width: 745px;
    
    /* margin-left: 280px ;
    margin-right: 280px; */
    background-color:#F7F9F9;
}
 .logo{
    border: 2px solid rgba(49,116,154,.4);
    width: 80px;
    height:80px ;
    border-radius: 50px;
    background-color: rgba(49,116,154,.4);
    margin-left: 15px;
 }
 

#para1{
    border: 2px solid rgba(49,116,154,.4);
    width: 80px;
    height:80px ;
    border-radius: 50px;
    background-color: rgba(49,116,154,.4);
    display: flex;
}
.text1 h3{
    margin-left: 20px;
}

.text1 p{
    margin-left: 20px;
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #4d5253;
    font-weight: 400;
}
.lastline{
    /* margin-left: 60px ;
    margin-right: 60px; */
}
    
.signin h1 span{
    color: #337395;
}

.paragraph{
 margin-top: 50px;
 display: flex;
}
button{
    border: 2px solid;
    background-color: #006C95;
    width: 250px; 
    height: 50px; 
    margin-top: 2rem;
    margin-bottom: 4rem;
    margin-left: 10px;
    border-radius: 10px;
    color: white;
    font-size: 13px;
}

.logo img{
    margin: 20px 20px;
}

#main_head{
    display: flex;
}

.content1{
    font-size: 14px;
    line-height: 18px;
    margin-left: 50px;
    display: flex;
}


#span1{
    color: #e08a3f;
    font: ibx;
}
 p{
    color: #4D5253;
 }
.btn{
    height: 100;
    width: 524;
}

#button{
    background-color: #006C95;
    color: #FFFFFF;
}



@media screen and (max-width:500px) {
    
}

